<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ma.schiffeversenken.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/schiffeversenken_logo"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme" >
        <activity
            android:name=".view.StartScreen"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.StartGame"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_spiel_starten"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.Settings"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.Help"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.GameMode"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_gamemode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.Multiplayer"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_multiplayer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.CreateMultiplayerGame"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_create_multiplayer_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.VisitMultiplayerGame"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_visit_multiplayer_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AndroidLauncher"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.GamePreferencesActivity"
            android:label="@string/title_activity_spiel_einstellungen" >
        </activity>
        <activity
            android:name="com.ma.schiffeversenken.android.view.BackActivity"
            android:label="@string/title_activity_back" >
        </activity>
    </application>

</manifest>